.head-line{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg{
  width:430px;
}

.menus{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

.menus button{
  border: none;
  background: none;
  margin: 5px 20px;
}

.menus button:hover{
  background-color: gainsboro;
  border-radius: 5px;
}

.news-img-size{
  width: 100%;
  min-width: 200px;
  max-height: 250px;
  margin: 10px;
}

.news-content{
  padding: 10px 10px;
}

.news{
  border-bottom: 2px solid black;
}

.search-container {
  display: none; 
  gap: 10px;
}




nav{
  display: flex;
  align-items: stretch;
}

i{
  padding: 7px;
  cursor: pointer;
}

.menus{
  display: flex;
  list-style: none;
}

.hamburger-menu{
  display: none;
}

.side-menu{
  display: none;
}

.side-list{
  display: none;
}


.x-icon{
  display: none;
}




@media screen and (max-width:48rem){
  .menus{
    display: none;
  }
  .hamburger-menu{
    display: block;
    display: flex;
    flex-direction: column;
  }
  .side-menu{
    position: fixed;
    align-items: center;
    justify-content: center;
    right:-250px;
    top: 0;
    left: 0px;
    width: 60%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: left 0.3s ease;
  }
  .side-menu button{
    background: none;
    border: none;
    color: white;
  }
  .side-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .side-list ul{
    list-style: none;
    padding: 0;
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  .side-list ul li {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

  .X-button{
    background: none;
    color:white;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

}