body{
  background-size: cover;
  height: 100vh;
  display: flex; /*모든 요소를 가로로 둔다.*/
  flex-direction: column;/*가로로 정렬된 요소를 세로로 바꾼다.*/
  justify-content: center;/*세로에서 중앙으로 오게 만든다.*/
  align-items: center;
  background-image: url(물음표바탕.jpg);/*출처 freepik</a>*/

}

.container{
  width: 70%;
  border: 10px solid white;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(247, 243, 242, 0.7);
}

.pre-title {
  font-size: 3vw;
  font-weight: bold;
  color: darkblue;
}

.title {
  font-size: 4vw;
  font-weight: bold;
}

.sub-title {
  font-size: 3vw;
  font-weight: bold;
}

.hint{
  font-size: 3vw;
}

.yellow-text{
  color: yellowgreen;
}

.sub-img{
  width: 15vw;
  height: 20vh
}

.form-control{
  height: 40px;
  font-size: 2vw;
  text-align: center;
}

#result-area {
  font-size: 4vw;
  font-weight: bold; 
  color: blue; 
}


@media screen and (max-width:48rem) {
  .container{
    width: 85%;
  }
  .pre-title {
    font-size: 6vw;
  }
  .title {
    font-size: 8vw;
  }
  .sub-title {
    font-size: 7vw;
  }

  #result-area {
    font-size: 7vw;
    font-weight: bold; 
    color: blue; 
  }

  .break-text {
    display: block; /* 업 & 다운이 줄바꿈됨 */
  }

  .hint{
    font-size: 7vw;
  }
  .sub-img {
    width: 40vw;
  }

  .form-control {
    font-size: 8vw;
    max-width: 500px;
    margin-right: 0px;
  }

}
